<ng-container *ngIf="type === DISPLAY_TYPE.LIST; else card">
  <mat-card style="width:100%; display: flex;">
    <div style="align-self: center;">
      <ng-container [ngTemplateOutlet]="imageSection" [ngTemplateOutletContext]="{movie:movie}">
      </ng-container>
    </div>
    <div style="padding: 20px;">
      <p>{{movie.title}}</p>
      <p>Ilosc wyswietlen: <span>{{movie.viewCount}}</span></p>
      <p>Opublikowany: <span>{{movie.publishedAt}}</span></p>
      <ng-container [ngTemplateOutlet]="actionButton" [ngTemplateOutletContext]="{movie:movie}">
      </ng-container>
    </div>
  </mat-card>
</ng-container>

<ng-template #card>
  <mat-card style="margin: 10px">
    <ng-container [ngTemplateOutlet]="imageSection" [ngTemplateOutletContext]="{movie:movie}">
    </ng-container>
    <mat-card-content>
      <h5>{{movie.title}}</h5>
      <p>Ilosc wyswietlen: <span>{{movie.viewCount}}</span></p>
      <p>Opublikowany: <span>{{movie.publishedAt}}</span></p>
    </mat-card-content>
    <mat-card-actions>
      <ng-container [ngTemplateOutlet]="actionButton" [ngTemplateOutletContext]="{movie:movie}">
      </ng-container>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #actionButton let-movie="movie">
  <app-button label="Odtwórz" [type]="BUTTON_TYPE.MINI_FAB" icon="play_arrow" color="primary"
    (buttonClick)="openDialog(movie.url)"></app-button>
  <app-button label="Usuń" [type]="BUTTON_TYPE.MINI_FAB" icon="remove" color="warn"
    (buttonClick)="deleteMovie(movie.id)"></app-button>
  <app-button **ngIf="movie.favorite === true" label="Dodaj do ulubionych" [type]="BUTTON_TYPE.MINI_FAB" icon="favorite_border" color="accent"
    (buttonClick)="setFavourite(movie.id)"></app-button>
  </ng-template>

  <ng-template #imageSection let-movie="movie">
    <img mat-card-image [src]="movie.image.url" width="movie.image.width" height="movie.image.height"
      (click)="openDialog(movie.url)">
  </ng-template>
  