<app-check-box label="Tylko ulubione" [checked]="onlyFavouriteMovie" (isChecked)="selectFavouriteMovies($event)"></app-check-box>
<app-button label="Lista" (buttonClick)="changeDisplayType(DISPLAY_TYPE.LIST)"></app-button>
<app-button label="Kafelki" (buttonClick)="changeDisplayType(DISPLAY_TYPE.CARD)"></app-button>
<app-button label="Ostatnio dodane" (buttonClick)="sortByDate(SORT.ASC)"></app-button>
<app-button label="Najstarsze" (buttonClick)="sortByDate(SORT.DSC)"></app-button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<app-search-input (valueChanged)="handleValue($event)"></app-search-input>
<mat-grid-list style="width: 100%;" [cols]="cols" [rowHeight]="rowHeight">
  <mat-grid-tile *ngFor="let movie of allMovies" style="width: 100%;">
    <app-list-item [type]="type" [movie]="movie" style="width: 100%;"></app-list-item>
  </mat-grid-tile>
</mat-grid-list>
<ng-container >
  <div *ngFor="let movie of allMovies">
    <div *ngIf="movie.favourite">
      <p>Tylko ulubione</p>
      <img [src]="movie.image.url" width="movie.image.width" height="movie.image.height"
        (click)="openDialog(movie.url)">
      <p>Ilosc wyswietlen: <span>{{movie.viewCount}}</span></p>
      <p>Opublikowany: <span>{{movie.publishedAt}}</span></p>
      <app-button label="Usuń z ulubionych" (buttonClick)="deleteFavorite(movie.id)"></app-button>
    </div>
  </div>
  </ng-container>
